@using Kendo.Mvc.UI
@using ITSupportSystem.Core1.ViewModel

<div class="align-center align-between pb20">
    <h2><b>CommonLookUp Management</b></h2>
    <div class="btnDiv" onclick="createcommonlookup()">
        Add New
    </div>
</div>

<div class="tableDiv">

    @(
   Html.Kendo().Grid<CommonLookUpViewModel>().Name("CommonLookUpgrid")

    .ToolBar(t=>t.Search())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

     .Pageable(pageable =>
     {
         pageable.Refresh(true);
     })
     .NoRecords("No Records Found.")

    .Search(s=>
    {
        s.Field(c => c.ConfigName);
        s.Field(c => c.ConfigKey);
        s.Field(c => c.ConfigValue);
        s.Field(c => c.DisplayOrder);
    })


    .Columns(columns =>
    {
        columns.Bound(c => c.ConfigName);
        columns.Bound(c => c.ConfigKey);
        columns.Bound(c => c.ConfigValue);
        columns.Bound(c => c.DisplayOrder);

        columns.Command(command => { command.Custom("Edit").Click("editcommonlookup");
        command.Custom("Delete").Click("mydelete"); }).Width(200);
    }).HtmlAttributes(new { style = "height:370px;" })

    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.Id)).Read(read => read.Action("GetCommonLookUpJson", "CommonLookUp"))

    .Update(update => update.Action("Edit", "CommonLookUp"))
    .Destroy(destroy => destroy.Action("Delete", "CommonLookUp"))
    .Create(create => create.Action("Create", "CommonLookUp"))
    .PageSize(5))
)
</div>

<div class="modal fade" id="deletemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" style="text-align:center;color:green">Delete</h2>
            </div>

            <div class="modal-body">
                <h3 style="text-align:center">Are you sure you want to delete?</h3>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <input type="hidden" id="hdnDeleteLookup" />
                    <a id="btnsaveDelete" onclick="DeleteForm_Submit()" class="btn btn-primary mr-2">Delete</a>
                </div>
                <div class="btn-group">
                    <a id="btndeletecancle" class="btn btn-danger" data-dismiss="modal">Cancle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal">

</div>


@Styles.Render("~/Content/demo.css")
<script>
        function createcommonlookup() {
            $.get({
                url: '@Url.Action("Create","CommonLookUp")',
                success: function (data) {
                    $("#modal").html(data);
                    $("#addmodal").modal("show");
                }
            });
        }

    function editcommonlookup(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        var obj  = d.id;
                $.get({
                url: '@Url.Action("Edit","CommonLookUp")',
                data: {'id': obj},
                success: function (data) {
                    $("#modal").html(data);
                    $("#editmodal").modal('show');
                }
        });
    }

        var mydelete = function (e)
        {
            e.preventDefault();
            var d = this.dataItem($(e.currentTarget).closest("tr"));
            id = d.id;
            $("#deletemodal").modal('show');
            $("#hdnDeleteLookup").val(id);
        }


        function DeleteForm_Submit() {
            var id = $("#hdnDeleteLookup").val();
            $.post({
                url: '/CommonLookUp/Delete/' + id,
                success: function () {
                    $.ajax({
                        type: 'GET',
                        url: "/CommonLookUp/Index",
                        success: function () {

                        }
                    }).done(function (partialViewResult) {
                        $("#CommonLookupTable").html(partialViewResult);
                        $('.modal-backdrop').remove();
                    });
                }
            });
        }
</script>

<div>@Html.ActionLink("back to list", "Index", "Account")</div>

