@model ITSupportSystem.Core1.ViewModel.UserViewModel

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRB Form</title>

        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <div class="mainDiv">
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h3 style="text-align:left;"><b>CREATE</b></h3>
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "errorMsg" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="inputBox selectBox">
                        @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "errorMsg" })
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.RoleDropDown, "Id", "Name"), "Select Role", new { @class = "form-control" })
                    </div>


                    <div class="inputBox">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMsg" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errorMsg" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "errorMsg" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                    <div class="inputBox">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "errorMsg" })
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                    <div class="inputBox w-100">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "" })
                        <div class="radioBtnSection">
                            <div class="radioBtnDiv">
                                Female @Html.RadioButtonFor(model => model.Gender, "Female")
                                <span class="checkmark"></span>
                            </div>
                            <div class="radioBtnDiv">
                                Male @Html.RadioButtonFor(model => model.Gender, "Male")
                                <span class="checkmark"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="btnDiv">Create</button>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
}

<div>@Html.ActionLink("back to list", "Index", "Account")</div>