@model ITSupportSystem.Core1.ViewModel.UserViewModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRB Form</title>

        @*<link rel="stylesheet" href="css/style.css">*@

    </head>
    <body>
        <div class="mainDiv">
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h3 style="text-align:left;color:green;font-family:sans-serif"><b>Edit</b></h3>
                </div>
                <div class="formSection">
                    <div class="inputBox">

                        <div class="text-danger">@ViewBag.Message</div>

                        <label class="form-label"><b>Name</b><strong style="color:red;font-size:18px;">*</strong></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="inputBox selectBox">
                        <label class="form-label"><b>RoleId</b><strong style="color:red;font-size:18px;">*</strong></label>
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.RoleDropDown, "Id", "Name"), "Select Role", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                         <label class="form-label"><b>Email</b><strong style="color:red;font-size:18px;">*</strong></label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                        <label class="form-label"><b>UserName</b><strong style="color:red;font-size:18px;">*</strong></label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                        <label class="form-label"><b>MobileNo</b><strong style="color:red;font-size:18px;">*</strong></label>
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox w-100">
                        <label class="form-label"><b>Gender</b><strong style="color:red;font-size:18px;">*</strong></label>
                        <div class="radioBtnSection">
                            <div class="radioBtnDiv">
                                Female @Html.RadioButtonFor(model => model.Gender, "Female")
                                <span class="checkmark"></span>
                            </div>
                            <div class="radioBtnDiv">
                                Male @Html.RadioButtonFor(model => model.Gender, "Male")
                                <span class="checkmark"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="btnDiv" id="SubmitBtnId" style="color:black">SAVE</button>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                </div>
            </div>
        </div>
    </body>
</html>
}


<script>
      $('#SubmitBtnId').click(function () {
        toastr.success('Data Updated Successfully...');
             document.location = '@Url.Action("Index","Account")';
     });
</script>


<div>@Html.ActionLink("back to list", "Index", "Account")</div>

