@model ITSupportSystem.Core1.ViewModel.UserViewModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRB Form</title>

        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <div class="mainDiv">
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h3 style="text-align:left;"><b>Edit</b></h3>
                </div>
                <div class="formSection">
                    <div class="inputBox">

                        <div class="text-danger">@ViewBag.Message</div>

                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="inputBox selectBox">
                        @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.RoleDropDown, "Id", "Name"), "Select Role", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })

                    </div>

                    <div class="inputBox w-100">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "" })
                        <div class="radioBtnSection">
                            <div class="radioBtnDiv">
                                Female @Html.RadioButtonFor(model => model.Gender, "Female")
                                <span class="checkmark"></span>
                            </div>
                            <div class="radioBtnDiv">
                                Male @Html.RadioButtonFor(model => model.Gender, "Male")
                                <span class="checkmark"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="btnDiv">Save</button>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                </div>
            </div>
        </div>
    </body>
</html>
}

<div>@Html.ActionLink("back to list", "Index", "Account")</div>



@*@model ITSupportSystem.Core1.ViewModel.UserViewModel

    @{
        ViewBag.Title = "Edit";
    }

    <h2 style="margin-left:270px;color:green">Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="text-danger">@ViewBag.Message</div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.RoleDropDown, "Id", "Name"), "Select Role", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    Female @Html.RadioButtonFor(model => model.Gender, "Female")
                    Male @Html.RadioButtonFor(model => model.Gender, "Male")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>


            @Html.HiddenFor(model => model.Id)

            <div style="padding-left:0px; margin-top:30px; margin-left:280px;">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
    <div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
