@using Kendo.Mvc.UI
@using ITSupportSystem.Core1.ViewModel

@{
    ViewBag.Title = "Index";
}

<h1 align="center" style="margin-bottom:50px;color:green"><b>Index</b></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@(Html.Kendo().Grid<UserViewModel>().Name("grid")

    .ToolBar(t=>t.Search())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

     .Pageable(pageable =>
     {
         pageable.Refresh(true);
     })

    .NoRecords("No Records Found.")
    .Search(s=>
    {
        s.Field(c => c.Name);
        s.Field(c => c.Email);
        s.Field(c => c.RoleName);
        s.Field(c => c.UserName);
        s.Field(c => c.Gender);
        s.Field(c => c.MobileNo);
    })

    .Columns(columns =>
    {
        columns.Bound(c => c.Name);
        columns.Bound(c => c.Email);
        columns.Bound(c => c.RoleName);
        columns.Bound(c => c.UserName);
        columns.Bound(c => c.Gender);
        columns.Bound(c => c.MobileNo);


        columns.Template(c => { }).Title(string.Empty)
             .ClientTemplate(
                 "<a href='" + Url.Action("Edit", "User") + "/#=Id#' class='btn btn-success'>Edit</a>" + " | " + "<a href='" + Url.Action("Delete", "User") + "/#=Id#' class='btn btn-danger'>Delete</a>").Width(200);
    }).HtmlAttributes(new { style = "height:370px;" })

    .Sortable()

    .Scrollable()

    .Filterable()
    .DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.Id)).Read(read => read.Action("GetAllUserJson", "User"))

    .Update(update => update.Action("Edit", "User"))
    .Destroy(destroy => destroy.Action("Delete", "User"))
    .Create(create => create.Action("Create", "User"))
    .PageSize(5))

)


<div>@Html.ActionLink("back to list", "Index", "Account")</div>



@*@model IEnumerable<ITSupportSystem.Core1.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 align="center" style="margin-bottom:50px;color:green"><b>Index</b></h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>*@
