@{
    ViewBag.Title = "Account Index";
}

<div class="section">
    <div class="container">
        <div class="topTitleHead pb20">
            <h1 style="color:hotpink"><b>SYSTEM</b></h1>
        </div>
        <div class="tab">
            <ul class="align-center">
                <li><a class="tablinks active" id="UserManagementTab" onclick="openSystems(event, 'UserManagement')">User</a></li>
                <li> <a class="tablinks" id="RoleManagementTab" onclick="openSystems(event, 'RoleManagement')">Role</a> </li>
                <li> <a class="tablinks" id="SettingsTab" onclick="openSystems(event, 'Settings')">CommonLookUp </a> </li>
            </ul>
        </div>

        <div class="tabContentDetails">
            <div id="UserManagement" class="tabcontent" style="display: block">
                <div class="align-center align-between pb20">
                    <h2><b>User Management</b></h2>
                    <div class="btnDiv">
                        <a href="#"> @Html.ActionLink("+ Add New", "Create", "User")</a>
                    </div>
                </div>
                <div class="tableDiv">
                    @Html.Partial("~/Views/User/_UserIndexPartial.cshtml")
                </div>
            </div>

            <div id="RoleManagement" class="tabcontent">
                <div class="align-center align-between pb20">
                    <h2><b>Role Management</b></h2>
                    <div class="btnDiv">
                        @Html.ActionLink("+ Add New", "Create", "Role")
                    </div>
                </div>
                <div class="tableDiv">
                    @Html.Partial("~/Views/Role/_RoleIndexPartial.cshtml")
                </div>
            </div>

            <div id="Settings" class="tabcontent">
                <div id="CommonLookupTable">
                    @Html.Partial("~/Views/CommonLookUp/_CommonLookUpIndexPartial.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var data = '@TempData["PageSelected"]';
        if (data != '') {
            openSystems(null, data);
        }
    });


    function openSystems(evt, SystemsName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        if (evt != null) {
            evt.currentTarget.className += " active";
        }
        else {
            document.getElementById(SystemsName + "Tab").className += "active";
        }
    }
</script>
