@{
    ViewBag.Title = "Account Index";
}

<div class="section">
    <div class="container">
        <div class="topTitleHead pb20">
            <h1 style="color:hotpink"><b>SYSTEM</b></h1>
        </div>
        <div class="tab">
            <ul class="align-center">
                <li><a class="tablinks active" id="UserManagementTab" onclick="openSystems(event, 'UserManagement')">User Management</a></li>
                <li><a class="tablinks" id="RoleManagementTab" onclick="openSystems(event, 'RoleManagement')">Role Management</a> </li>
                <li> <a class="tablinks" onclick="openSystems(event, 'Settings')">CommonLookUp Management</a> </li>
            </ul>
        </div>

        <div class="tabContentDetails">
            <div id="UserManagement" class="tabcontent" style="display: block">
                <div class="align-center align-between pb20">
                    <h3 style="color:Highlight"><b>User Management</b></h3>
                    
                        <div class="btnDiv">
                            <a href="#"> @Html.ActionLink("+ Add New", "Create", "User")</a>
                        </div>
                    

                </div>

                <div class="tableDiv" id="userdiv">
                </div>
            </div>

            <div id="RoleManagement" class="tabcontent">
                <div class="align-center align-between pb20">
                    <h3 style="color:Highlight"><b>Role Management</b></h3>

                    <div class="btnDiv">
                        @Html.ActionLink("+ Add New", "Create", "Role")
                    </div>


                </div>
                <div class="tableDiv" id="rolediv">
                </div>
            </div>

            <div id="Settings" class="tabcontent">
                <div id="commonlookupdiv">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var data = '@TempData["PageSelected"]';
        if (data != '') {
            openSystems(null, data);
        }
    });

    $(document).ready(function () {
        $('#userdiv').load('@Url.Action("Index" , "User")');
    });

    function openSystems(evt, SystemsName)
    {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++){
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++){
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(SystemsName).style.display = "block";
        if (evt != null){
            evt.currentTarget.className += " active";
        }
        else{
            document.getElementById(SystemsName +"Tab").className += " active";
        }


        if (SystemsName == "UserManagement"){
            $('#userdiv').load('@Url.Action("Index" , "User")');
        }
        else if (SystemsName == "RoleManagement"){
            $('#rolediv').load('@Url.Action("Index" ,"Role")');
            document.getElementById("RoleManagement" + "Tab").className += " active";
        }
        else if (SystemsName == "Settings"){
            $('#Settings').load('@Url.Action("Index" ,"CommonLookUp")');
        }
    }
</script>

<script>
        function createcommonlookup() {
            $.get({
                url: '@Url.Action("Create","CommonLookUp")',
                success: function (data) {
                    $("#modal").html(data);
                    $("#addmodal").modal("show");
                }
            });
        }

    function editcommonlookup(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        var obj  = d.id;
                $.get({
                url: '@Url.Action("Edit","CommonLookUp")',
                data: {'id': obj},
                success: function (data) {
                    $("#modal").html(data);
                    $("#editmodal").modal('show');
                }
        });
    }

        var mydelete = function (e)
        {
            e.preventDefault();
            var d = this.dataItem($(e.currentTarget).closest("tr"));
            id = d.id;
            $("#deletemodal").modal('show');
            $("#hdnDeleteLookup").val(id);
        }


        function DeleteForm_Submit() {
            var id = $("#hdnDeleteLookup").val();
            $.post({
                url: '/CommonLookUp/Delete/' + id,
                success: function () {
                    $.ajax({
                        type: 'GET',
                        url: "/CommonLookUp/Index",
                        success: function () {

                        }
                    }).done(function (partialViewResult) {
                        $("#Settings").html(partialViewResult);
                        $('.modal-backdrop').remove();
                    });
                }
            });
        }
</script>




