@using ITSupportSystem.Core1.ViewModel

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Systems </title>
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Kendo")
    @RenderSection("scripts", required: false)
</head>
<body>

    <div class="mainDiv">
        <div class="header">
            <div class="container">
                <div class="align-center align-between">
                    <div class="align-center">
                        <div class="logoDiv"> <a href="#"> <img src="~/image/Logo.png" alt="CRB Logo"> </a> </div>


                        <div class="menuDiv">
                            <ul class="align-center">
                                @if (Session["UserName"] != null)
                                 {
                                    var list = Session["Permission"] as List<PermissionViewModel>;
                                    foreach (var item in list.Where(x => x.View == true && x.ParentFormId == null))
                                    {
                                        <div class="userInfo">
                                            <div class="align-center">
                                                <div class="userName align-center">
                                                    @if (list.Where(x => x.ParentFormId == item.FormId).Count() > 0)
                                                    {
                                                        if (list.Where(x => x.ParentFormId == item.FormId && x.View == true).Count() > 0)
                                                        {
                                                            <span><a href="@item.NavigateUrl" style="color: #fffdfc; font-size:20px;"> @item.FormName </a></span>
                                                            <div class="userInfoDiv">
                                                                <div class="userInfoBox">
                                                                    @foreach (var child in list.Where(x => x.ParentFormId == item.FormId && x.View == true))
                                                                    {
                                                                        <a href="@child.NavigateUrl">@child.FormName</a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span><a href="@item.NavigateUrl" style="color: #fffdfc; font-size:20px;"> @item.FormName </a></span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                 }
                            </ul>
                        </div>
                    </div>

                    <div class="userInfo">
                        <div class="align-center">
                            <div class="userProfile">
                            </div>
                            <div class="userName align-center">
                                @if (Session["UserName"] != null)
                                {
                                    <span>Hello @Session["UserName"]</span>
                                    <i> <img src="~/image/down-arrow.svg" alt="Dropdown Icon"> </i>
                                    <div class="userInfoDiv">
                                        <div class="userInfoBox">
                                            <a href="#">Profile</a>
                                            @Html.ActionLink("Logout", "Logout", "Account")
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>


<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.2.510/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.2.0/default/default-main.css" />
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")



