@model ITSupportSystem.Core1.ViewModel.RoleViewModel

@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRB Form</title>

        <link rel="stylesheet" href="~/css/style.css">

    </head>
    <body>
        <div class="mainDiv">
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h3 style="text-align:left;"><b>CREATE</b></h3>
                </div>
                @ViewBag.Message
                <div class="formSection">
                    <div class="inputBox">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        <br /><br />
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div>
                    <div class="inputBox">
                        <button type="submit" class="btnDiv">Create</button>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
}


<button type="button" class="btn btn-link" id="btnid">Back to list</button>
<script>
    $(document).ready(function () {
        $('#btnid').click(function () {
            history.back();
        });
    });
</script>




@*@model ITSupportSystem.Core1.ViewModel.RoleViewModel

    @{
        ViewBag.Title = "Create";
    }



    <h1 style="text-align:center;color:green"><b>Create Role</b></h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-left:20px; margin-top:10px; margin-left:280px;">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @ViewBag.Message
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div style="padding-left:0px; margin-top:10px; margin-left:550px;">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    }*@



